<div data-search-shop-target="list">
  <% shops.each do |shop| %>
    <%= link_to shop_path(shop), style: "text-decoration: none" do %>
      <div class="card-product my-4">
        <div class="card-img-container">
          <img src="<%= shop.img_url %>" style="object-fit: scale-down" />
        </div>
        <div class="card-product-infos">
          <div class="first-line-right">
            <h2> <%= shop.name %> </h2>
          </div>
          <p><%= shop.description %></p>
          <div class="last-line-right">
            <p> <%= shop.category %> </p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
