<img src="<%= @shop.img_url %>" alt="rss feed" style="object-fit: cover; position: center; heigth: 100px; width: 100%; ">
<div class="shop-picture-container container d-flex flex-column align-items-center justify-content-center py-1"><!--<%= @shop.img_url %> This is the real logic, but in the meanwhile we have the image you see-->
  <h1><%= @shop.name %></h1>
  <ul class="list-unstyled">
  <li><%= render "shared/stampcard", stamp_card_template: @stamp_card_template, shop: @shop, stamp_card: @stamp_card %></li>
  <li><%= render "shared/opening_hours" %></li>
  </ul>
</div>

<div class="map-address">
  <div class="map" style="width: 100%; height: 300px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div class="map-info">
    <p><strong>Address</strong></p>
    <% address = @shop.address.split(",") %>
    <p><%= address[0] %></p>
    <p><%= address[1] %></p>
  </div>
</div>

<div data-controller="qr-scanner" data-qr-scanner-shop-value="<%= @shop.id %>" data-qr-scanner-stampCardTemplate-value="<%= @stamp_card_template.id %>">
  <video id="camera" width="100%" height="400"></video>
  <div data-qr-scanner-target="output">
  </div>
</div>


<%# <button class="btn btn-primary">PRESS ME
<% stamp_cards_controller.increase_progress %>
<%# </button> %>
