<div class="shop-picture-container container d-flex flex-column align-items-center justify-content-center py-1"><!--<%= @shop.img_url %> This is the real logic, but in the meanwhile we have the image you see--> <%= image_tag("restaurant.jpeg") %>
  <h1><%= @shop.name %></h1>
  <ul class="list-unstyled">
  <li><%= render "shared/stampcard" %></li>
  <li><%= render "shared/opening_hours" %></li>
  </ul>
</div>

<div class="map-address">
  <div class="map" style="width: 100%; height: 300px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div class="map-info">
    <p><strong>Address</strong></p>
    <% address = @shop.address.split(",") %>
    <p><%= address[0] %></p>
    <p><%= address[1] %></p>
  </div>
</div>
