<div class="d-flex justify-content-center border-bottom">
  <img src="<%= @shop.img_url %>" alt="rss feed" class="img-fluid" style="object-fit: cover;">
</div>

<div class="shop-picture-container container d-flex flex-column align-items-center justify-content-center"><!--<%= @shop.img_url %> This is the real logic, but in the meanwhile we have the image you see-->

  <div class="p-3">
    <h3 class="d-flex align-items-center text-center" style="font-size: 19px; letter-spacing: 0.5px"><%= @shop.description %></h3>
  </div>
    <ul class="list-unstyled" style="margin-bottom: 0;">
      <li><%= render "shared/stampcard", stamp_card_template: @stamp_card_template, shop: @shop, stamp_card: @stamp_card %></li>
      <li><%= render "shared/opening_hours" %></li>
    </ul>

</div>

<div class="map-address">
  <div class="map" style="width: 100%; height: 300px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div class="map-info">
    <p><strong>Address</strong></p>
    <% address = @shop.address.split(",") %>
    <p><%= address[0] %></p>
    <p><%= address[1] %></p>
  </div>
</div>
