<div class="container">
  <div class="main-container">
    <div class="thecard" data-controller="stamp-card">
      <div class="front p-3" data-action="click->stamp-card#switchToBack">
        <div class="card-first-line">
          <h2><%= shop.name %></h2>
          <i class="fa-solid fa-circle-info" ></i>
        </div>
          <p><%= stamp_card_template.title %></p>
          <div class="img-container">
            <img class="active" src="" alt="">
            <img class="active" src="" alt="">
            <img class="active" src="" alt="">
            <img class="confirmed" src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">

          </div>
      </div>
      <div class="back p-3" data-action="click->stamp-card#switchToFront">
        <div class="card-first-line">
          <h2><%= shop.name %></h2>
          <i class="fa-solid fa-xmark"></i>
        </div>
        <p><%= stamp_card_template.description %></p>

        <div class="last-line">
          <p>Card expires on: <%= stamp_card_template.expiration_date %></p>
        </div>
      </div>
    </div>
  </div>
</div>
