<div class="container">
  <div class="main-container">
    <div class="thecard" data-controller="stamp-card">
      <div class="front p-3" data-action="click->stamp-card#switchToBack">
        <div class="card-first-line">
          <h2><%= shop.name %></h2>
          <i class="fa-solid fa-circle-info" ></i>
        </div>
          <p><%= stamp_card_template.title %></p>
          <div class="img-container">
            <% if stamp_card %>
              <% stamp_card.stamp_amount.times do %>
                <img class="active" src="" alt="">
              <% end %>

              <% (stamp_card_template.max_stamps - stamp_card.stamp_amount).times do %>
                <img src="" alt="">
              <% end %>

            <% else %>
              <% stamp_card_template.max_stamps.times do %>
                <img src="" alt="">
              <% end %>
            <% end %>

          </div>
      </div>
      <div class="back p-3" data-action="click->stamp-card#switchToFront">
        <div class="card-first-line">
          <h2><%= shop.name %></h2>
          <i class="fa-solid fa-xmark"></i>
        </div>
        <p><%= stamp_card_template.description %></p>

        <div class="last-line">
        <p>Card expires on:</p>
          <p> <%= stamp_card_template.expiration_date %></p>
        </div>
      </div>
    </div>
  </div>
</div>
