<div class="ps-3 pt-3">
  <h1><%= ["Hello,", "Hi there,", "Hey,", "Greetings,", "Salutations,", "Howdy,", "Yo,", "What's up,", "Hiya,", "Sup,", "G'day,"].sample %> <%= current_user.username %></h1>
  <h3 class="pt-3" style="margin-bottom: 0;">Almost finshed StampCards</h3>
</div>
  <div class="container d-flex align-items-center justify-content-center">
    <div id="carouselExampleCaptions" class="carousel slide mt-3" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <div>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active d-none" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2" class="d-none"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3" class="d-none"></button>
        </div>
      </div>
      <div class="carousel-inner">
        <% if @stamp_card1 %>
          <div class="carousel-item active">
            <%= render "stampcard_index", stamp_card: @stamp_card1 %>
            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>
          <div class="carousel-item">
            <%= render "stampcard_index", stamp_card: @stamp_card2 %>
            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>
          <div class="carousel-item">
            <%= render "stampcard_index", stamp_card: @stamp_card3 %>
            <div class="carousel-caption d-none d-md-block">
            </div>
          </div>
        <% else %>
          <%= render "stampcard_index_zero", stamp_card_template: @template1 %>
        <% end %>
      </div>
      <button class="carousel-control-prev transparent-arrow" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon transparent-arrow" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next transparent-arrow" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon transparent-arrow" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
