<!DOCTYPE html>
<html>
  <head>
    <title>Stamps</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%# <%= favicon_link_tag "favicon.png", rel: "icon", type: "image/png" %>
    <%= render 'shared/ios_pwa_links' %>
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%# <% if current_user %>
      <% if current_user %>
        <%= render "shared/navbar_top" %>
          <% unless controller_name == "users" %>
            <%= render "shared/navbar_bottom" %>
        <% end %>
      <% end %>
      <div>
        <%= yield %>
      </div>
        <div style="height: 70px"></div>
      <%= render "shared/flashes" %>
    <%# <% else %>
      <%# <% redirect_to new_user_session_path %>
    <%# <% end %>
    </body>
</html>
